html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

ol,
ul {
    list-style: none;
}

img,
picture,
video,
canvas,
svg {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font-family: inherit;
    font: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    color: inherit;
}

a {
    display: inline-block;
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}

